@import './styles/vars.scss';

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-family: "Microsoft YaHei", tahoma, arial, "Hiragino Sans GB", "宋体", sans-serif !important;
    background: #e5eaee;
    
    @include themify($themes) {
        color: themed('color-text-black');
    }
}