
.search-tool {
    width: 1190px;
    min-height: 42px;
    margin: 0 auto;
    position: relative;
    background: #fff;
    border: solid 1px rgba(0,0,0,0.2);
    box-sizing: border-box;
    font: 12px/1.5 arial,tahoma,'Microsoft YaHei';
}

.option-group {
    display: flex;
    width: 100%;
    padding: 14px 10px;
}

.option-group-name {
    width: 110px;
    height: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.option-group-name label {
    line-height: 24px;
    color: #999;
}

.option-group-filter {
    flex: 1;
    position: relative;
    padding-right: 120px;
}

.option-filter-search input[type=text] {
    width: 200px;
    height: 24px;
    line-height: 24px;
    padding: 2px;
    color: #333;
    vertical-align: top;
    text-indent: 24px;
    border: 1px solid #DDD;
    border-radius: 2px;
    background: #FFF url(/static/img/icons/search.svg) no-repeat;
    background-size: 18px 18px;
    background-position-x: 1px;
    background-position-y: 1px;
}

.letter-nav {
    display: flex;
    margin-top: 14px;
}

.letter-nav .letter {
    cursor: pointer;
    height: 28px;
    min-width: 28px;
    line-height: 28px;
    position: relative;
    margin-right: 1px;
    border: 1px solid transparent;
    border-radius: 2px;
    text-decoration: none;
    color: #666;
    font-family: Arial;
    font-size: 14px;
    text-align: center;
}

.letter-nav .letter.selected {
    background-color: #F60 !important;
    border-color: #F60 !important;
    color: #fff !important;
}

.letter-nav .letter.letter-all {
    width: 80px;
}

.letter-nav .letter .icon-letter {
    position: absolute;
    display: none;
    background: url(/static/img/icons.png) no-repeat -157px -279px;
    width: 8px;
    height: 5px;
    bottom: -5px;
    left: 50%;
    margin-left: -4px;
    background-color: #fff;
    z-index: 85;
}

.letter-nav .letter.selected .icon-letter {
    display: block !important;
    background-color: #F60 !important;
}

.letter-nav .letter:hover { 
    border-color: #F60; 
    color: #F60; 
}

.letter-nav .letter:hover .icon-letter { 
    display: block; 
    background-color: #fff; 
}

.option-group-filter .option-container {
    position: relative;
    overflow: hidden;
    min-height: 42px;
}

.option-group-filter .option-container.scroll-container {
    max-height: 130px;
}

.option-group-filter.expend .option-container.scroll-container {
    margin: 20px 0;
    max-height: 250px;
    overflow: auto;
}

.option-container .option-wrapper {
    overflow: hidden;
    padding: 0 10px 0 3px;
    position: relative;
    margin: 0 auto;
}

.option-container .option-wrapper .options {
    padding: 0;
    margin: 0;
}

.option-container .options .option-item {
    list-style: none;
    margin-right: 16px;
    margin-bottom: 10px;
    cursor: pointer;
    background: #fff;
    position: relative;
}

.option-container .options .option-item.text-option-item {
    display: block;
    float: left;
    height: 24px;
    line-height: 24px;
    // vertical-align: middle;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.option-container .options .option-item.text-option-item:hover {
    color: #F60;
}

.option-container .options .option-item.text-option-item .option-item-wrapper {
    background: #fff;
}

.option-container .options .option-item.img-option-item {
    display: list-item;
    float: left;
    width: 108px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.option-container .options .option-item-wrapper {
    width: 94%;
    height: 94%;
    position: absolute;
    top: 3%;
    left: 3%;
    background: transparent;
}

.option-container .options .option-item-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.option-container .options .option-item .option-item-frame {
    border: 2px solid #F60;
    background-color: #fff;
    box-sizing: border-box;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.option-container .options .option-item:hover .option-item-frame {
    display: block;
}

.option-container .options .option-item.selected .option-item-frame {
    display: block;
}

.option-container .options .option-item-name {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.option-container .options .option-item .close {
    cursor: pointer;
    width: 16px;
    height: 16px;
    background: #F60;
    border-radius: 50%;
    display: block;
    position: absolute;
    right: -8px;
    top: -8px;
    color: #fff;
    display: none;
}

.option-container .options .option-item .close > i {
    width: 14px;
    height: 14px;
    margin-left: 1px;
    margin-top: 1px;
    display: block;
    background: url(/static/img/icons/close.svg) center center no-repeat;
    background-size: cover;
}

.option-container .options .option-item.selected .close {
    display: block;
}

.option-group-filter .more-tools {
    position: absolute;
    top: 2px;
    right: 10px;
    z-index: 50;
    display: flex;
}

.option-group-filter .more-tools .tool-btn {
    margin-left: 12px;
    height: 20px;
    line-height: 20px;
    color: #666;
    cursor: pointer;
    transition: background-color .3s;
    position: relative;
}

.option-group-filter .more-tools .tool-btn.more-btn {
    padding: 0 14px 0 0;
}

.option-group-filter .more-tools .tool-btn.more-btn i {
    display: block;
    background: url(/static/img/icons.png) no-repeat -260px -235px;
    width: 10px;
    height: 6px;
    top: 6px;
    right: 0;
    position: absolute;
}

.option-group-filter.expend .more-tools .tool-btn.more-btn i {
    background-position: -39px -278px;
}

.option-group-filter .more-tools .tool-btn.multi-select-btn {
    background: #f6f6f6;
    border-radius: 1px;
    position: relative;
    padding: 0 18px 0 6px;
}

.option-group-filter .more-tools .tool-btn.multi-select-btn > i {
    position: absolute;
    right: 4px;
    top: 5px;
    display: block;
    background: url(/static/img/icons.png) no-repeat -121px -257px;
    width: 10px;
    height: 10px;
}

.option-group-filter .selection-submit {
    position: relative;
    width: 100%;
    bottom: 0;
    left: 0;
    // display: flex;
}

.option-group-filter .item-btns .btn {
    cursor: pointer;
    position: absolute;
    text-decoration: none;
    display: block;
    height: 18px;
    line-height: 18px;
    padding: 0 10px;
    border-radius: 2px;
    border: 1px solid;
    left: 50%;
    top: -12px;
    font-size: 11px;
}

.option-group-filter .item-btns .btn.b-sure {
    background-color: #F60;
    border-color: #F60;
    color: #fff;
    margin-left: -48px;
}

.option-group-filter .item-btns .btn.b-sure:hover { 
    background-color: #ff8533; 
    border-color: #ff8533; 
}

.option-group-filter .item-btns .btn.b-cancel {
    border-color: #ddd;
    background-color: #fff;
    color: #666;
    margin-left: 5px;
}

.option-group-filter .item-btns .btn.b-cancel:hover { 
    color: #333; 
    border-color: #999; 
}

.option-group-filter .item-btns .btn.b-sure.disabled {
    border-color: #f6f6f6;
    background-color: #f6f6f6;
    color: #c5c5c5;
    cursor: default;
}